.tool {
    height: 100%;
    padding: 0px 10px;

    .base-conent {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;

        .lable {
            width: 100%;
            font-weight: bold;
            font-size: 16px;
            text-align: left;
            padding: 10px 0px;
        }
    }
}