import React from 'react';
import ClassStyle from './index.module.scss';

class {{name}} extends React.Component{
constructor(props) {
super(props);
}
render(){
return (
<div className={ClassStyle.{{name}} }></div>
)
}
}

export default {{name}}