.content{
    flex: 1;
    width: 80vw;
    height: 100%;
    background: #a7a6a5;
    .btn{
        padding: 10px;
        font-size: 16px;
        border: 1px solid rgb(168, 166, 170);
        margin-right: 20px;
        cursor: pointer;
    }
    .console{
        width: 100%;
        height: 80px;
        background:#d8d2d4;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color:gray;
        .i_lable{
            background: white;
            margin-right: 30px;
            padding: 10px;
        }
        .i_info{
            background: ghostwhite;
            margin-right: 20px;
            padding: 10px;
        }
    } 
    .content_panel{
        height: 100%;
        width: 100%;
        display: flex;
        .panel_phone{
            width: 60%;
            padding-bottom: 50px;
            overflow: scroll;
        }
        .phone_canvas{
            margin: 20px auto;
            overflow: scroll;
            position: relative;
            background: white;
        }
        .preview{
            margin-left: 30px;
        }
        .panel_attributes{
            width: 25%;
            height: 100%;
            padding-bottom:50px;
            overflow: scroll;
            background: white;
            .panel_head{
                width:100%;
                height: 50px;
                background:#e6dbdf;
                font-size: 20px;
                line-height: 50px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            .describe{
                width: 100%;
                padding: 5px 10px;
                display: flex;
                align-items: center;
                font-size: 16px;
                .lable{

                }
                .action{
                    
                    height: 40px;
                    padding: 5px 10px;
                    font-size: 16px;
                    background: #e0c0c0;
                }
                .value{
                    min-width: 20px;
                    background:#e8e4e4;
                    padding: 5px;
                    margin-right: 10px;
                    input{
                        display: block;
                        border: none;
                        width: 50px;
                        height: 30px;
                    }
                }
                .select{
             
                }
            }
            //文本框
            .text-describe{
                width: 100%;
                padding: 5px 10px;
                display: flex;
                font-size: 16px;
                flex-direction: column;
                .lable{
                   text-align: left;
                   margin-bottom: 10px;
                   font-size: 20px;
                   font-weight: bold;
                }
                .value{
                   width: 100%;
                   height: 200px; 
                   textarea{
                       width: inherit;
                       height: inherit;
                   }
                }
            }
        }
        //操作
        .panel_action{
            position: absolute;
            left: 40%;
            top: 27%;
            .item{
                cursor: pointer;
            }
            .up{
                transform: rotate(180deg);
                margin-bottom: 20px;
            }
            
        }
    }

}
