.component_tree {
    min-width: 220px;
    padding: 10px;

    .tree_main {
        width: 100%;


        .lable {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 2px 10px;
            position: relative;
            //border-left: 1px solid #c4c6cf;
            cursor: pointer;

            .path {
                width: 10px;
                height: 10px;
                // border-left: 1px solid #333;
                border-bottom: 1px solid #c4c6cf;
                position: absolute;
                bottom: 50%;
                left: 0px;
            }

            .dir {
                border-left: 6px solid #8b8282;
                border-right: 4px solid transparent;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                margin-right: 2px;
            }

            i {
                width: 16px;
                height: 16px;
                margin-right: 3px;

                img {
                    width: inherit;
                    height: inherit;
                    display: block;
                }
            }

            .type {
                font-size: 12px;
                color: #333;
                margin-right: 5px;
            }

            .class {
                font-size: 11px;
                color: #aaa;
            }

        }

        .lable:hover {
            background: rgb(121, 178, 243);
        }

        .parent {
            margin-left: 10px;
            border-left: 1px solid #c4c6cf;
        }
    }


}