.style_edit {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .save {
        flex: 1;
        background: #365680;
        font-size: 14px;
        color: white;
        cursor: pointer;
        text-align: center;
        padding: 5px 0px;
    }
}